{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ question.title }}</h1>

    <div>{{ question.supports }} appuis </div>
    <div>
        <a href="#" class="btn btn-success">Appuyer cette proposition</a>
    </div>
    <div>{{ question.creationDate|date('d-m-Y H:i:s') }}</div>

    <h2>La question en détails</h2>
    <div>{{ question.description }}</div>
    <hr>
    <h2>Le débat</h2>
    {# @todo : afficher les messages reliés à cette question#}
    <h2>Laissez-nous votre message</h2>
    {{ form_start(messageForm, {'attr':{'novalidate':'novalidate'}}) }}
    {{ form_widget(messageForm) }}
    {{ form_errors(messageForm) }}
    <button class="btn btn-success">Envoyer !</button>
    {{ form_end(messageForm) }}
    <br>
    <h2>Vos messages</h2>
    <br>
    {% for message in messages %}
        <div>Par # - {{ message.dateCreated|date('d-m-Y') }}</div>
        <div>{{ message.content|nl2br }}</div>
        <div><img src="{{ asset('img/clap.png')}}" alt="icon" style="width:20px;height:20px;">{{ message.claps }} claps</img></div>
        <br>
    {% endfor %}

{% endblock %}

{% block title %}{{ question.title }}{% endblock %}

