{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ question.title }} <a href="#" class="btn btn-success">Appuyer cette proposition</a></h1>

    <div>{{ question.supports }} appuis </div>
    <br>
    {#Ca marche uniquement si on a implémenté le toString dans Subject.php#}
    <div>Sujet(s): {{ question.subjects|join(' | ') }}</div>
    <br>

    <h2>La question en détails</h2>
    <div>Date et heure de création : {{ question.creationDate|date('d-m-Y H:i:s') }}</div>
    <div class="jumbotron">{{ question.description }}</div>
    <hr>

    <h2>Ajoutez votre contribution au débat</h2>
    {# @todo : afficher les messages reliés à cette question#}
    {{ form_start(messageForm, {'attr':{'novalidate':'novalidate'}}) }}
    {{ form_widget(messageForm) }}
    {{ form_errors(messageForm) }}
    <button class="btn btn-success">Envoyer !</button>
    {{ form_end(messageForm) }}
    <hr>
    <h2>Vos messages</h2>
    <br>
    {% for message in messages %}
        <div>Par # - {{ message.dateCreated|date('d-m-Y') }}</div>
        <div>{{ message.content|nl2br }}</div>
        <div><img src="{{ asset('img/clap.png')}}" alt="icon" style="width:20px;height:20px;">{{ message.claps }} claps</img></div>
        <br>
    {% endfor %}

{% endblock %}

{% block title %}{{ question.title }}{% endblock %}

