<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Demoliq!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('css/open-sans.css')}}">
        <link rel="stylesheet" href="{{ asset('css/permanent-marker.css')}}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>
        <link rel="icon" type="image/jpg" href="{{ asset('img/icon.jpg')}}" />


    </head>
    <body>
        <div class="container">
            <header>
                <a href="{{ path('home') }}"><img src="{{ asset('img/icon.jpg')}}" alt="icon" style="width:20px;height:20px;"> DEMOLIQ</a>
            </header>

            <main>
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                    <div class="alert alert-{{ label }}">{{ message }}</div>
                    {% endfor %}
                {% endfor %}

        {% block content %}{% endblock %}
            </main>

            <footer>
                <nav class="nav">
                {% block footer %}<a class="nav-link" href="{{ path('home') }}">Accueil</a>
                    <a class="nav-link" href="{{ path('faq') }}">FAQ</a>
                    <a class="nav-link" href="{{ path('cgu') }}">CGU</a>
                <a class="nav-link" href="{{ path('how_to') }}">Fonctionnement</a>
                <a class="nav-link" href="{{ path('question_list') }}">Questions</a>{% endblock %}
                </nav>
            </footer>
        </div>
    </body>
</html>
